@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

html {
  font-size: 6vw;
  font-family: Oswald;
}

@media screen and (min-width: 450px) {
  html {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 650px) {
  html {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1100px) {
  html {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 1.5vw;
  }
}

#secret {
  color: $lightBlue;
}

body {
  background: $lightBlue;
}

.wrapper {
  display: flex;
  height: 20rem;

  .favoritesList {
    height: 1rem;

    #delete:hover {
      cursor: pointer;
    }
  }
  .favorites {
    // border: solid black;
    width: 15rem;
    // text-align: center;
  }

  .LoginWrapper {
    // border: solid red;
    display: flex;
    flex-direction: column;
    width: 15rem;
    text-align: center;

    #inputButtonWrapper {
      display: flex;
      flex-direction: column;

      input {
        width: 50%;
        margin: auto;
        margin-bottom: 0.5rem;
        border-radius: 0.25rem;
        height: 1rem;
      }
      #buttonsDiv {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 0.5rem;

        button {
          border: solid black;
          background-color: $lightGreen;
          color: red;
          width: 4rem;
          font-size: 0.75rem;
          border-radius: 0.25rem;
        }
        button:hover {
          background-color: orange;
        }
      }
    }
  }

  #mapContainer {
    border: solid black;
    width: 45rem;
    height: 35rem;
    margin: auto;
    font-size: 1rem;
  }

  .mapboxgl-ctrl-attrib-button {
    display: none !important;
  }
}
